main {
    background: url('../images/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
}

.navbar .nav-link, footer p {
    color: #b8b6b4;
}