body {
    background: url('../images/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.navbar .nav-link, footer p {
    color: #b8b6b4;
}